*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family: 'Inter', sans-serif;
background:#ffffff;
color:#111;
}

section{

min-height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:40px;
transition:all .6s ease;

}

.hidden{

display:none;

}

.logo{

width:220px;
animation:logoFade 2s ease forwards;

}

@keyframes logoFade{

0%{opacity:0; transform:translateY(40px)}
100%{opacity:1; transform:translateY(0)}

}

h1{

font-size:48px;
font-weight:600;
margin-bottom:20px;

}

p{

max-width:600px;
font-size:20px;
color:#666;

}

input{

margin-top:30px;
padding:16px;
border-radius:10px;
border:1px solid #ddd;
font-size:16px;
width:260px;

}

button{

margin-top:30px;
padding:16px 30px;
border:none;
border-radius:10px;
background:#0071e3;
color:white;
font-size:16px;
cursor:pointer;
transition:0.3s;

}

button:hover{

background:#005ec0;

}

#questions{

max-width:900px;
margin-top:40px;
display:grid;
grid-template-columns:repeat(5,1fr);
gap:20px;

}

.question{

border:1px solid #eee;
border-radius:10px;
padding:10px;

}

.progress{

width:300px;
height:6px;
background:#eee;
border-radius:10px;
margin-top:20px;
overflow:hidden;

}

#progress-bar{

height:100%;
width:0%;
background:#0071e3;
transition:width .4s;

}

#courses{

margin-top:30px;
max-width:500px;

}

.course{

padding:15px;
border-top:1px solid #eee;

}